body {
    background: #e3e1db;
    font-family: sans-serif;
}

.header__logo {
    height: 4rem;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.nav__item {
    font-weight: 500;
}

@media (max-width: 576px) {
    .header__logo {
        height: 3rem;
    }
}
