body {
    background: #e3e1db;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1.75fr;
    height: 100vh;
}

.header__logo {
    height: 4rem;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

hr {
    border: 5px solid #4d4c8a;
    border-radius: 1rem;
    width: 90vw;
    opacity: 1;
    margin: 0;
}

.nav__item {
    font-weight: 500;
}

/* .main__wrapper {
    align-items: center;
    justify-content: center;
} */

.main__section {
    width: 80vw;
}

.footer__paragraph {
    background: #4c4b89;
    border: 1px solid #000;
    padding: 0.5rem;
    color: #fff;
}

@media (max-width: 576px) {
    .header__logo {
        height: 3rem;
    }
}
